:root {
    --bg: rgb(187, 175, 148);
    --lt-text: rgb(211, 180, 6);
    --highlight: cornflowerblue;
    --dk-text: rgb(0, 0, 94);
}

body {
    background-color: var(--bg);
}

header {
    display: flex;
    height: 6em;
    background-image: repeating-linear-gradient(cornflowerblue 0, blue 47%, cornflowerblue 100% 40px);
    align-items: center;
    justify-content: center;
}

nav {
    height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(90deg, olive, white, olive);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    display: flex;
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    color: rgb(190, 45, 19);
    font-weight: bold;
}

.title {
    font-size: 220%;
    color: var(--lt-text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
}

.flexbox1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 75px;
    justify-content: flex-start;
}

.flex1-item {
    display: flex;
}

#about-me-heading {
    display: flex;
    justify-content: flex-end;
    color: var(--dk-text);
    padding: 10px;
    border-right: 2px lined var(--highlight);
    box-shadow: 10px 10px 5px olive;
    border-radius: 8px;
    flex: 0 0 200px;
}

#about-me-text {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    color: var(--dk-text);
    box-shadow: 10px 10px 5px olive;
    border-radius: 8px;
    flex: 2 1 800px;
}

.work-samples-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 750px;
    justify-content: flex-start;
}

#work-samples-heading {
    display: flex;
    justify-content: flex-end;
    color: var(--dk-text);
    padding: 10px;
    border-right: 2px lined var(--highlight);
    flex-shrink: 1;
    box-shadow: 10px 10px 5px olive;
    border-radius: 8px;
    flex: 0 0 200px;
}

.actual-projects-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 700px;
    justify-content: center;
    margin: 2%;
}

.project-item {
    display: flex;
    flex: 1 1 300px;
}






