:root {
  --bg: rgb(199, 219, 238);
  --lt-text: rgb(211, 180, 6);
  --highlight: cornflowerblue;
  --dk-text: rgb(0, 0, 94);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
}

/* header */
header {
  display: flex;
  height: 6em;
  background-image: repeating-linear-gradient(
    cornflowerblue 0,
    blue 47%,
    cornflowerblue 100% 40px
  );
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.title {
  font-size: 220%;
  color: var(--lt-text);
  font-family: Arial, Helvetica, sans-serif;
}

header nav {
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, olive, white, olive);
  color: var(--dk-text);
  border-radius: 8px;
}

header nav a {
  color: var(--dk-text);
  text-decoration: none;
  margin: 10px;
}

header nav a:hover {
  color: rgb(190, 45, 19);
  font-weight: bold;
}

/* hero */
.hero {
  display: flex;
  background-image: linear-gradient(90deg, olive, white, olive);
  height: 3em;
  color: var(--dk-text);
  justify-content: flex-start;
  align-items: center;
}

/* Main */

main {
  max-width: 88%;
  margin: auto auto;
}
/* About me */

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px auto;
}
section h2 {
  text-align: right;
  color: var(--dk-text);
  padding: 10px;
  border-right: 2px lined var(--highlight);
  box-shadow: 10px 5px 15px olive;
  border-radius: 8px;
  flex: 0 0 20%;
}

section div {
  flex: 0 0 77%;
}
section div p {
  margin: 15px auto;
}

/* work */
h3 {
  color: var(--dk-text);
  background-color: rgb(211, 180, 6, .5);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

section div a {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  color: var(--dk-text);
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  max-height: 200px;
  align-items: flex-end;
  margin: 2%;
  padding-bottom: 20px;
  background-size: 115%;
  background-repeat: no-repeat;
  flex-basis: 22%;
  border-radius: 8px;
  transition: all .5s ease-in-out;
  background-image: url(./Alon-photo.jpg);
}

.project-item:first-child {
  min-height: 300px;
  flex-basis: 30%
}

.project-item:hover {
    box-shadow: inset 0 0 8px var(--highlight), 0 0 15px var(--highlight);
}

/*contact*/
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.contact-item {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: var(--dk-text);
  border-radius: 8px;
  padding: 3px;
  border: 1px solid var(--lt-text);
  background-color: var(--bg);
}

.contact-item:hover {
  box-shadow: inset 0 0 8px var(--lt-text), 0 0 15px var(--lt-text);
}






/* 
#about-me-heading {
    display: flex;
    justify-content: flex-end;
    color: var(--dk-text);
    padding: 10px;
    border-right: 2px lined var(--highlight);
    box-shadow: 10px 10px 5px olive;
    border-radius: 8px;
    flex: 0 0 200px;
}

#about-me-text {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    color: var(--dk-text);
    box-shadow: 10px 10px 5px olive;
    border-radius: 8px;
    flex: 1 2 800px;
} */

/* .work-samples-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 750px;
    justify-content: flex-start;
}

#work-samples-heading {
    display: flex;
    justify-content: flex-end;
    color: var(--dk-text);
    padding: 10px;
    border-right: 2px lined var(--highlight);
    flex-shrink: 1;
    box-shadow: 10px 10px 5px olive;
    border-radius: 8px;
    flex: 0 0 200px;
}

.actual-projects-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 700px;
    justify-content: center;
    margin: 2%;
}

.project-item {
    display: flex;
    flex: 1 1 300px;
}





 */
